footer {
    padding: var(--page-padding-width);
}

#footer-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-primary);
    padding-top: 1em;
    border-top: var(--line-width-thick) solid var(--color-primary);
}

.footer-content p {
    font-weight: 600;
    text-align: right;
    width: clamp(4em, 28dvw, 300px);
    margin-top: 1em;
    padding-bottom: var(--underline-padding);
    border-bottom: var(--line-width-thin) solid var(--color-primary);
}

.footer-content h1 {
    margin-bottom: 1em;
    padding-top: var(--underline-padding);
}

@media (max-width: 750px) {
    #footer-contents {
        flex-direction: column;
    }

    #footer-contents p {
        width: calc(100dvw - 2 * var(--page-padding-width));
    }
}
