
.hero-section {
    margin: var(--section-margin-vertical) var(--page-padding-width) calc(2*var(--section-margin-vertical));
    width: var(--section-width);
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: var(--underline-padding);
    border-bottom: var(--line-width-thin) solid var(--color-primary);
}

.hero-header h2 {
    font-size: var(--font-size-large);
    font-weight: 600;
    width: fit-content;
}

.hero-header h3 {
    font-size: var(--font-size-medium);
    font-weight: 200;
    width: fit-content;
}

.hero-section p {
    margin: var(--paragraph-margin-vertical) 0;
    text-align: justify;
    line-height: 1.35em;
}

.hero-section a {
    float: right;
    text-decoration: none;
    padding: 0 0 var(--underline-padding) 4em;
    border-bottom: var(--line-width-thin) solid var(--color-primary);
}

.hero-section a:visited {
    color: var(--color-primary);
}

@media (max-width: 750px) {
    .hero-header {
        flex-direction: column;
        align-items: start;
    }

    .hero-header h3 {
        padding: var(--underline-padding) 0;
        border-top: var(--line-width-thin) solid var(--color-primary);
    }
}