.page-header {
    padding: var(--page-padding-height) var(--page-padding-width) 0 var(--page-padding-width);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: var(--line-width-thin) solid var(--color-primary);
}

.logo-header {
    height: 2em;
}

.nav-links {
    display: flex;
    align-items: end;
    padding-bottom: 0.1em;
}

.nav-link a {
    margin-left: 5vw;
    text-decoration: none;
    color: var(--color-primary);
}

@media (max-width: 820px) {
    main {
        display: flex;
        justify-content: end;
        align-items: end;
        height: calc(100dvh - 2 * var(--page-padding-width));
        padding: var(--page-padding-width);
    }

    .nav-links {
        flex-direction: column;
        justify-content: end;
        gap: 2em;
        padding-bottom: 2em;
        border-bottom: var(--line-width-thick) solid var(--color-primary);
    }

    .navlink, .nav-link a {
        padding: 1em 0;
    }
}