
.text-section {
    margin: 0 var(--page-padding-width) var(--section-margin-vertical);
    width: var(--process-section-width);
}

.text-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: var(--underline-padding);
    border-bottom: var(--line-width-thin) solid var(--color-primary);
}

.text-header h2 {
    font-size: var(--font-size-large);
    font-weight: 600;
}

.text-header h3 {
    font-size: var(--font-size-medium);
    font-weight: 200;
}

.text-section p {
    margin: var(--paragraph-margin-vertical) 0;
    text-align: justify;
    line-height: 1.35em;
}

@media (max-width: 750px) {
    .text-header {
        flex-direction: column;
        align-items: start;
    }

    .text-header h2 {
        padding-bottom: var(--underline-padding);
    }

    .text-header h3 {
        padding-top: var(--underline-padding);
        border-top: var(--line-width-thin) solid var(--color-primary);
    }
}